
.usernameInput{
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    width: 400px;
}
.passwordInput{
    padding: 15px;
    border-radius: 10px;
    font-size: 20px;
    margin: 20px;
    width: 400px;
}
.SubmiButton{
    background-color: rgb(143, 185, 143);
    border: 1px solid antiquewhite;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
}
.SubmiButton:hover{
    background-color: rgb(93, 184, 189);
}
.errorMessageSpan{
    min-height: 20px;
}
input{
    border: 1px solid rgb(0, 0, 0);
}
.p1{
    margin-left: 120px;
}
