@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;1,200&display=swap');
.displayFlexAttr{
    display: flex;
    color: #ffffff;
}
.main01{
    border: 2px solid black;
    /* background-color: #a9a7d1; */
    margin: 10px;
    color: #f5f7f8;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
.join{
    font-family: 'Poppins', sans-serif;
    color: #eaeeef;

}
.rendered{
    color: #ffffff;
    margin-bottom: 20px;
    padding:10px;
}
.joinRide{
    display: inline-block;
    gap: 20px;
    max-width: 40%;
    color:#4CAF50 ;
    text-align: center;
}
select {
  margin-bottom: 10px;
  padding: 8px;
  width: 90%;
  color: #4CAF50;
  box-sizing: border-box;
}
.row{
    color: black;
}
label{
    display: block;
color: #4CAF50;
}


.search-button {
    display: flex;
    align-items: center;
    width: 100px;
    justify-content: center;
    padding: 10px 20px;
    margin: 10px 90px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    gap: 10px; /* Add gap for the icon */
  }
  .a,.b{
    display: flex;
  }
  